<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Can You Do...</title>
		<link rel="stylesheet" href="../static/style.css" type="text/css" media="screen" charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>Can You Do?</h1>

        <form action="" id="dateForm">
            <table cellpadding="0" cellspacing="0" id="our_table">
                <thead>
                    <tr class="head-row">

                    </tr>
                </thead>
                <tbody>
					<tr>

					</tr>
                </tbody>
            </table>
            <input name="email" type="email" placeholder="email"><br/>
            <input name="passcode" type="password" placeholder="passcode"><br/>
            <input type="submit" value="I Can Do These Times">
            <p id="completedText"></p>
        </form>

		<script src="../static/moment.js" charset="utf-8"></script>
		<script src="../static/test.js" charset="utf-8"></script>
    	<script type="text/javascript" src="../static/ajaxHandler.js" ></script>
    </body>
</html>
